<nav class="navbar navbar-expand-lg bg-white" data-bs-theme="dark">
  <div class="mx-5 d-flex justify-content-between w-100">

    <a routerLink="/home">
      <img src="assets/img/theboys.png" class="" width="150" alt="">
    </a>

      <div class="dropdown position-relative">
        <img src="{{ (auth.user$ | async)?.picture }}" alt="Dropdown button" (click)="toggleDropdown()" class="rounded-circle" width="50">
        <div class="dropdown-menu flex-column text-center bg-white position-absolute"  [ngClass]="dropper ? 'show d-flex' : ''" style="top: 100%; right: 0;">
          <span class="text-black" *ngIf="auth.user$ | async as user">{{ user.nickname }}</span>
          <hr>
          <a class="text-black dropdown-item" routerLink="/poll-aanmaken" *ngIf="role[0]?.name == 'Manager'">Polls</a>
          <a class="text-black dropdown-item" href="#" (click)="logout()">Logout</a>
        </div>
      </div>

  </div>
</nav>
