<section class="page_404 d-flex justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-center flex-column align-items-center">
        <div class="col-sm-10 text-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center ">404</h1>


          </div>

          <div class="contant_box_404">
            <h3 class="h2">
              Volgens mij ben je verdwaald
            </h3>

            <p>De pagina waar je naar zocht bestaat niet!</p>

            <a routerLink="/home" href="#" class="btn text-white" style="background-image: linear-gradient(to right, #DA1B3E, #A2266B, #5735A7)">terug naar de home pagina</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
