<div class="card border border-primary">
  <div class="card-title p-2 rounded" style="margin-bottom: 0 !important">
    <i class="fa-solid fa-pen text-primary"></i>&nbsp;
    {{title}}
    <hr style="margin: 0 !important">
  </div>
  <div class="card-body">
    <img src="assets/img/login-image.jpg" class="w-100" *ngIf="!image" alt="" style="height: 150px !important; object-fit: contain">
    <img src="https://grpi528512.luna.fhict.nl/{{image}}" class="w-100" *ngIf="image" alt="" style="height: 150px !important; object-fit: contain">
  </div>
  <div class="m-2 p-2">
    <div class="d-flex justify-content-between">
      <img width="35" class="rounded-circle" src="{{creatorPicture}}" alt="">
      <span style="text-overflow: ellipsis; overflow: hidden; width: 75%; white-space: nowrap;" class="text-end">{{creatorName}}</span>
    </div>
    <hr style="margin: 16px 0 0 0 !important">
  </div>
  <div class="card-footer">
    <button data-bs-toggle="modal" [attr.data-bs-target]="'#modal-' + id" class="btn btn-primary w-100" style="background-image: linear-gradient(to right, #DA1B3E, #A2266B, #5735A7)">Bekijken</button>
  </div>
</div>

<div class="modal fade" *ngIf="id" id="modal-{{id}}" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          <span data-bs-toggle="modal" data-bs-target="#similarSuggestionsModal"
             (click)="helperService.setSimilarSuggestionChosen(false)"
             class="text-info" *ngIf="helperService.getSimilarSuggestionChosen()">
          <i class="fa-solid fa-chevron-left"></i>&nbsp;terug - </span>{{title}}
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeModal" (click)="helperService.setSimilarSuggestionChosen(false)"></button>
      </div>
      <div class="modal-body">
        <img class="w-100" *ngIf="!image" src="assets/img/login-image.jpg" alt="">
        <img class="w-100" *ngIf="image" src="https://grpi528512.luna.fhict.nl/{{image}}" alt="">
        <div class="" [innerHTML]="description">
        </div>
      </div>
    </div>
  </div>
</div>
